[Unit]
Description=HVAC Control Daemon

[Service]
Type=exec
User=pi
Group=pi
ExecStart=/usr/local/bin/hvac -c /usr/local/etc/hvac/config.json

[Install]
WantedBy=multi-user.target
