# slave_id register_no value
#
# Use negative values as (POSIX) error numbers
# to simulate read failures.

# AW3485A: humidity
1 0 437

# AW3485A: temperature
1 1 242

# X-DUCER DTH: temperature
2 34 232

# X-DUCER DTH: humidity
2 35 487
