# slave_id register_no value
#
# Use negative values as (POSIX) error numbers
# to simulate read failures.

1 0 437		# AW3485A: humidity
1 1 242		# AW3485A: temperature

2 34 232	# X-DUCER DTH: temperature
2 35 487	# X-DUCER DTH: humidity
